<div *ngIf="caja">
  <h2>Detalles de la caja</h2>
  
  <div>
    <label>Id:
      <span class="badge"> {{caja.id}}</span>
    </label>
    <label>Identificación:
      <span class="badge"> {{caja.identificacion}}</span>
    </label>
    
  <br>
  <h4>Consignación:</h4>
  <form class="row">
    <label>Destino:
      <input type="number" [(ngModel)]="id" placeholder="nro de cuenta" [ngModelOptions]="{standalone: true}" />
    </label>
    <label>Monto:
      <input type="number" [(ngModel)]="monto" placeholder="Monto en pesos" [ngModelOptions]="{standalone: true}"/>
    </label>
    <button type="submit" (click)="consignar()" >consignar</button>
    <button type="submit" (click)="retirar()">retirar</button>
  </form>
  <br>
  <button (click)="closeSession()">Cerrar Sesión</button>
</div>
