<div *ngIf="caja">
  <br>
  <label>
    <h3>Detalles de Caja</h3>
  </label>

  <div>
    <label>Id:</label> <span class="badge"> {{caja.id}}</span>
    <label>Identificación:
      <span class="badge"> {{caja.identificacion}}</span>
    </label>

    <br>
    <label>
      <h4>Consignación</h4>
    </label>
    <form>
      <label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Destino:</span>
          </div>
          <input type="number" [(ngModel)]="id" placeholder="nro de cuenta" [ngModelOptions]="{standalone: true}" />
        </div>
      </label>

      <label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$COP</span>
          </div>
          <input type="number" [(ngModel)]="monto" placeholder="Monto en pesos" [ngModelOptions]="{standalone: true}" />
        </div>
      </label>
      <button class="btn btn-success btn-sm" type="submit" (click)="consignar()">consignar</button>
      <button class="btn btn-dark btn-sm" type="submit" (click)="retirar()">retirar</button>
    </form>
    <br>
    <button class="btn btn-danger" (click)="closeSession()">Cerrar Sesión</button>
  </div>
