<div *ngIf="cuenta">
  <br>
  <label>
    <h3>Detalles de la Cuenta</h3>
  </label>

  <div>
    <label>Número de cuenta:</label><span>{{cuenta.id}}</span>


    <label>Nombre:
      <input [(ngModel)]="cuenta.nombre" placeholder="nombre" />
    </label>
    <label>Apellido:
      <input [(ngModel)]="cuenta.apellido" placeholder="apellido" />
    </label>
    <label>Saldo: {{cuenta.saldo | currency:'CAD':'symbol-narrow':'4.2-2'}}</label>
  </div>
  <br>
  <label>
    <h4>Consignación</h4>
  </label>
  <form>
    <label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Destino:</span>
        </div>
        <input type="number" [(ngModel)]="id" placeholder="nro de cuenta" [ngModelOptions]="{standalone: true}" />
      </div>
    </label>
    <label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$COP</span>
        </div>
        <input type="number" [(ngModel)]="monto" placeholder="Monto en pesos" [ngModelOptions]="{standalone: true}" />
      </div>
    </label>

    <button class="btn btn-success btn-sm" (click)="consignar()">consignar</button>
  </form>
  <br>
  <div class="row">
    <button class="btn btn-secondary" (click)="closeSession()">Cerrar Sesión</button>
    <button class="btn btn-danger" (click)="eliminarCuenta()">Eliminar Cuenta</button>
  </div>
</div>
